button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px;
  min-height: 100vh;
  background-color: rgb(163, 73, 164);
}

header {
  margin-top: 100px;
}

header > h1 {
  text-align: center;
  font-size: 35px;
  color: rgb(195, 195, 195);
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-width: 1000px;
  padding: 60px;
  background-color: rgb(195, 195, 195);
  border-radius: 50px;
  border: 3px solid rgb(0, 0, 0, 0.75);
}

.content-busca {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  min-width: 400px;
}

.content-busca > input {
  border: 2px solid rgb(0, 0, 0, 0.85);
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.content-busca > button {
  padding: 5px;
  font-size: 16px;
  color: rgb(220, 220, 220);
  background-color: rgb(149, 84, 209);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0, 0.85);
}

.content-resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 800px;
  height: 100%;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.85);
}

.resultados-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  height: 130px;
  background-color: rgb(163, 73, 164);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(220, 220, 220);
}

.items-options > .btn-excluir,
.items-options > .btn-detalhes {
  position: relative;
  background-size: contain;
  top: -5px;
  width: 26px;
  height: 26px;
}

.btn-excluir {
  float: left;
  background: url("../../../assets/deletar.png") no-repeat center;
}
.btn-detalhes {
  float: right;
  background: url("../../../assets/info.png") no-repeat center;
}

.resultados-items > span {
  font-weight: bold;
  color: rgb(220, 220, 220);
}

@media (max-width: 1366px) {
  #content {
    min-width: 650px;
  }

  .content-resultados {
    max-width: 660px;
  }

  .resultados-items {
    width: 170px;
  }
}

@media (max-width: 800px) {
  #content {
    min-width: 550px;
    padding: 45px 10px;
  }

  .content-busca {
    min-width: 200px;
  }

  .content-resultados {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  #content {
    min-width: 400px;
    gap: 25px;
  }

  .content-busca {
    flex-direction: column;
    align-items: center;
  }

  .content-busca > input {
    width: 220px;
  }

  .content-resultados {
    max-width: 310px;
    gap: 10px;
    padding: 20px;
  }
}

@media (max-width: 400px) {
  #content {
    min-width: 300px;
    gap: 25px;
  }

  .content-busca {
    gap: 20px;
  }

  .content-busca > input {
    width: 190px;
    font-size: 14px;
  }

  .resultados-items {
    max-width: 130px;
    height: auto;
  }
}
