<div class="conteudo">
  <div class="item apresentacao">
    <h1>Sistema de busca de Cep</h1>
    <hr />
    <h4>Busque abaixo o cep desejado</h4>
    <input #buscaCep type="text" placeholder="Cep:" />
    <button
      class="btn btn-outline-success ml-2"
      (click)="busca(buscaCep.value); modal.showModal()"
    >
      Buscar
    </button>
    <app-modal #modal [cep]="cep"> </app-modal>
  </div>
  <div class="item resultados">
    <div class="resultados-apresentacao">
      <h3>Itens ja buscados</h3>
      <hr />
    </div>
    <ul *ngFor="let cep of listaCeps">
      <li>
        <span class="remover" (click)="remover(cep.cep)"
          ><i class="fas fa-times-circle"></i>
        </span>
      </li>
      <li class="cep">{{ cep.cep }}</li>
      <li class="endereco">{{ cep.logradouro }}</li>
      <li class="botao">
        <button
          class="ml-1 btnDetalhes btn btn-sm"
          (click)="detalhes.showModal()"
        >
          detalhes
        </button>
        <app-modal #detalhes [cep]="cep"> </app-modal>
      </li>
    </ul>
  </div>
</div>
