.conteudo {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  background-color: black;
  height: 100vh;
  padding: 20px;
}
.item {
  padding: 20px;
  border-radius: 50px;
  margin: 0 auto;
}
.apresentacao {
  background-color: rgb(146, 65, 153);
  margin-bottom: 30px;
  max-width: 60%;
}

.apresentacao > h1,
h3 {
  color: white;
}

.resultados {
  display: flex;
  background-color: rgb(231, 110, 191);
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 400px;
  max-width: 800px;
  align-content: space-around;
}

.resultados > h3 {
  flex-basis: 100%;
}

.resultados > ul {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 180px;
  max-height: 150px;
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.resultados > ul > li {
  flex-grow: 1;
}

.resultados > ul > .endereco {
  order: 1;
}
.resultados > ul > .botao {
  order: 0;
}

@media (max-width: 600px) {
  .apresentacao {
    margin-bottom: 10px;
  }
}
