<div class="conteudo">
  <div class="item apresentacao">
    <h1>Sistema de busca de Cep</h1>
    <hr />
    <h4>Busque abaixo o cep desejado</h4>
    <input #buscaCep type="text" placeholder="Cep:" />
    <button
      class="btn btn-outline-success ml-2"
      (click)="busca(buscaCep.value, template)"
    >
      Buscar
    </button>
  </div>
  <div class="item resultados">
    <div class="resultados-apresentacao">
      <h3>Itens ja buscados</h3>
      <hr />
    </div>
    <ul *ngFor="let cep of listaCeps">
      <li>
        <span class="remover" (click)="remover(cep.cep)"
          ><i class="fas fa-times-circle"></i>
        </span>
      </li>
      <li class="cep">{{ cep.cep }}</li>
      <li class="endereco">{{ cep.logradouro }}</li>
      <li class="botao">
        <app-modal [cep]="cep"> </app-modal>
      </li>
    </ul>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Busca</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="cep.cep; then pesquisa; else erro"></div>

    <ng-template #pesquisa>
      <p><b>Cep:</b> {{ cep.cep }}</p>
      <p><b>Logradouro:</b> {{ cep.logradouro }}</p>
      <p><b>Complemento:</b> {{ cep.complemento }}</p>
      <p><b>Bairro:</b> {{ cep.bairro }}</p>
      <p><b>Localidade:</b> {{ cep.localidade }}</p>
      <p><b>Uf:</b> {{ cep.uf }}</p>
      <p><b>Ddd:</b> {{ cep.ddd }}</p>
    </ng-template>
    <ng-template #erro>
      <h5>Cep nao encontrado</h5>
    </ng-template>
  </div>
</ng-template>
