.close {
  color: white;
}

.close:hover {
  color: white;
}

.modal-content {
  background-color: rgb(83, 0, 90);
  color: white;
  padding: 15px;
  border-radius: 50px;
}

.modal-header {
  border: none;
}

.modal-body {
  border: 1px solid white;
  border-radius: 50px;
}

.modal-footer {
  border: 0px;
  padding: 0px;
}

.visitar {
  background-color: white;
  border: 1px solid;
  color: rgb(83, 0, 90);
}
