<div
  class="modal fade"
  bsModal
  #modal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-events-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-events-name" class="modal-title pull-left">Item Buscado</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="cep.cep; then template; else erro"></div>

        <ng-template #template>
          <p><b>Cep:</b> {{ cep.cep }}</p>
          <p><b>Logradouro:</b> {{ cep.logradouro }}</p>
          <p><b>Complemento:</b> {{ cep.complemento }}</p>
          <p><b>Bairro:</b> {{ cep.bairro }}</p>
          <p><b>Localidade:</b> {{ cep.localidade }}</p>
          <p><b>Uf:</b> {{ cep.uf }}</p>
          <p><b>Ddd:</b> {{ cep.ddd }}</p>
        </ng-template>
        <ng-template #erro>
          <p><b>cep nao encontrado</b></p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
