<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Create template modal
</button>

<ng-template #template>
  <div class="modal-header">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>{{ cep.cep }}</h4>
    <h4>{{ cep.logradouro }}</h4>
    <h4>{{ cep.complemento }}</h4>
    <h4>{{ cep.bairro }}</h4>
    <h4>{{ cep.localidade }}</h4>
    <h4>{{ cep.uf }}</h4>
    <h4>{{ cep.ddd }}</h4>
  </div>
</ng-template>
